<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensaje Procesado</title>
  <title>Pizzeria</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">
</head>
<body>

  <h1>¡Tu pedido se ha realizado con éxito!</h1>
  {% if mensaje %}
    <h2>{{ mensaje }}</h2>
  {% endif %}
  <p>Volver a la pantalla de inicio: <a href='/home'>Inicio</a></p>
</body>
</html>